# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div /=3
print(result_div)

2.7
0.9

##### Floor Division

In [17]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [20]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [22]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [24]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [27]:
print("This is my first name:",name)

print("Full name:" ,name, end=" Apol")

This is my first name: Brandon
Full name: Brandon Apol

##### String Concatenation

In [30]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name

print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [34]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [39]:
#Input will always return a string
# name = input('What is your name?')
# print("Nice to meet you, " + name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your age?: 23
28

##### format()

In [43]:
age = input('What is your age? ')

result_string = 'You are {} {} and you are getting wiser!'.format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

What is your age? 23
You are 23 Alyssa and you are getting wiser!
23 is a great time in life!

##### Old Way (python 2)

In [44]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 23 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [47]:
color = input('Color: ')
year = input('Year: ')
make = input('Make: ')
model = input('Model: ')

car = f"{color} {year} {make} {model}"
print(car)

Color: Blue
Year: 2007
Make: Kia
Model: Sorento
Blue 2007 Kia Sorento

### If Statements

In [59]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0
# if num1 == num2:
#     print('Equal Values')
# else: 
#     print('Not Equal')
if num2 > num1 or num3 > 0:
    print('This ran')
# elif num1 > num2:
#     print('num1 is greater')
else:
    print('You are here')

This ran

##### 'is' keyword

In [60]:
#The is keyword is for checking for the same object, but not the same value.

num3 = 55

if num3 is 55:
    print('This is the exact same number/object.')

This is the exact same number/object.

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/0n/v316ksn110jd2dddf5pyn84r0000gn/T/ipykernel_20365/3968865083.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [61]:
#Checks if a character is in a string

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [62]:
saga_char = "Sonic"

if "a" not in saga_char:
    print('a is not here')

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [3]:
name = input('What is your name? ')

if "p" in name:
    print('The letter p is here.')
if "p" not in name:
    print('The letter p is not here.')

What is your name? Alyssa
The letter p is not here.

## Using 'and'/'or' with If Statements

In [66]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
#If with 'or' statement
if num_13 == num_14 or num_11 > num_12:
    print('True and False')

True and True
True and False

### Elif Statements

In [ ]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon.')
else first_name != 'Max':
    print('The name is not Max.')

### Else Statements

In [ ]:
# see above

### For Loops

In [67]:
#Syntax:
#for counter in condition

name = "Brandon Apol"
a_list = [1,2,3,4]

for letter in name:
    print(letter)
for i in a_list:
    print(i)

B
r
a
n
d
o
n

A
p
o
l
1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for i in range(20):
    if i == 5:
        continue
    print(i)

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [68]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [ ]:
#Syntax:
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

##### Looping 'While True'

In [ ]:
game_over == True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop? ')
    if user_input == 'Yes'
    game_over == False

##### While & For Loops Used Together

In [69]:
num = 0

while num < 5:
    print('\n While loop iteration: ' + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
        
    num += 1

 While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

 While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [ ]:
#range(start,stop,step)

for i in range(2,20,2):
    print(i)

##### len()

In [70]:
name = input("What is the name of your favorite book? ")

length = len(name)
print(length)

3

##### help()

In [ ]:
#use this function to view more info about a python function

help(range)

##### isinstance()

In [72]:
#check a variable to find out what object family or data type it belongs to
#isinstance(var,type)

# print (isinstance(4.5,int))

# if isinstance(4.5,float):
#     print('This number is a float type.')

num = 4.5

if isinstance(num,int):
    print(f"{num} is an int)

else:
    print(f"{num} is a float)

False
This number is a float type.

##### abs()

In [ ]:
# [-5] = 5

print(abs(-5))

### Try and Except

In [ ]:
#use this to logout graceful and useful error messages
#does not stop the program

try:
    number_test = 0
    input_num = int(input('Guess a number '))
#     if input_num != input_num + number_test:
#         input_num = input_num + number_test
        print('Your number is: ' + str(input_num))
        
except:
    print('That didnt work, change your input to a number')

### Lists

##### Declaring Lists

In [93]:
list_1 = []

names = ['max','cindy', 'cathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'cathy', 'bob', 'nate']

##### Indexing a List

In [82]:
#list_name[start: stop: step]

#single index
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beggining of a list up until a number
print(names[:2])

#print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

max
['cindy', 'cathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'cathy', 'cindy', 'max']

##### .append()

In [94]:
names.append('brandon')
print(names)

['max', 'cindy', 'cathy', 'bob', 'nate', 'brandon']

##### .insert()

In [95]:
names.insert(3,'devon')
print(names)

['max', 'cindy', 'cathy', 'devon', 'bob', 'nate', 'brandon']

##### .pop()

In [96]:
#defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

cathy
['max', 'cindy', 'devon', 'bob', 'nate', 'brandon']


##### .remove()

In [99]:
#value to be removed rather than index

# names.remove('bob')
# print(names)

#remove multiple of same value from list:
while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'devon', 'nate']

##### del()

In [100]:
#goes by index
#can cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'devon', 'nate']

##### Concatenating Two Lists

In [103]:
#will append two lists together
#will not add values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [131]:
#lists can hold any type of other element including other lists
#they can go as deep as you wants, called nested lists

names = ['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]

print(names)
print(names[3])
print(names[3][1])

['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
['sally', 'sue', 'tameka']
sue
ERROR! Session/line number was not unique in database. History logging moved to new session 3

##### Looping Through Lists

In [ ]:
#two ways to loop through a list: one is by using the index the other is by using the 'in' keyword

#by index:
for i in range(len(names)):
    print(names[i])
    
#loop with 'in':
for i in names:
    print(i)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [7]:
Cubes = []
for i in range(11):
    Cubes.append(i**3)
    
print (Cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [19]:
###### HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

n = 0
i = 0
while n < 26:
    i += 1
    count = 1
    for j in range(2,i):
        if i%j == 0:
            count = 0
            break
    if count == 1:
        print(i,end=' ')
        n+=1

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [115]:
age = int(input('How old are you? '))

if age <= 18:
    print("kids")
elif age <= 65:
    print("adults")
else:
    print("seniors")
    
print(age)

How old are you? 77
seniors
77